body{
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.container{
    width: 400px;
	margin: 50px auto;
    border: none;
    border-radius: 15px;
	height: 400px;
	padding: 0px 9px 0px 9px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.45);
-moz-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.45);
box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.45);
}

.btnsubmit{
    border-radius: 10px;
    border: none;
}

.btnuser{
    border-radius: 10px;
    border: none;
}
